@import "tailwindcss";

@theme {
  --font-sans: "satoshi", "satoshi Fallback", Arial, Helvetica, sans-serif;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-golden-yellow: #ffcf26;
  --color-pale-blue: #f3f8ff;
  --color-navy-blue: #012b5d;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --text-heading-display: clamp(2.5rem, calc(1.125rem + 5vw), 5.63rem);
  --text-base-small: clamp(0.821rem, 0.6071rem + 0.4647vi, 0.8943rem);
  --text-base: clamp(1rem, 0.986rem + 0.07vw, 1.05rem);
  --text-base-large: clamp(1rem, 0.56rem + 1vw, 1.35rem);
  --heading-6: clamp(1rem, 0.928rem + 0.36vw, 1.25rem);
  --heading-5: clamp(1.13rem, 1.004rem + 0.63vw, 1.57rem);
  --heading-4: clamp(1.25rem, 1.0359rem + 1.0707vi, 1.9995rem);
  --heading-3: clamp(1.5625rem, 1.2474rem + 1.5755vi, 2.6653rem);
  --heading-2: clamp(1.9531rem, 1.296rem + 1.654vi, 3.5529rem);
  --heading-1: clamp(2.4414rem, 1.7858rem + 3.278vi, 4.736rem);
  --heading-display: clamp(2.6518rem, 1.88rem + 3.859vi, 7.3131rem);
  --heading-footer: clamp(3.6518rem, 2.034rem + 9.959vi, 18.3131rem);
  --heading-number: clamp(1.6518rem, 2.034rem + 7.959vi, 8.3131rem);
  --spacing-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
  --spacing-2xs: clamp(0.5625rem, 0.5446rem + 0.0893vi, 0.625rem);
  --spacing-xs: clamp(0.875rem, 0.8571rem + 0.0893vi, 0.9375rem);
  --spacing-sm: clamp(1.125rem, 1.0893rem + 0.1786vi, 1.25rem);
  --spacing-md: clamp(1.6875rem, 1.6339rem + 0.2679vi, 1.875rem);
  --spacing-lg: clamp(2.25rem, 2.1786rem + 0.3571vi, 2.5rem);
  --spacing-xl: clamp(3.375rem, 3.2679rem + 0.5357vi, 3.75rem);
  --spacing-2xl: clamp(4.5rem, 4.3571rem + 0.7143vi, 5rem);
  --spacing-3xl: clamp(5.75rem, 6.2571rem + 1.2023vi, 7.25rem);
  --gap-fluid: clamp(1rem, 0.8571rem + 1.0143vi, 3.5rem);
  --column-count: 12;
  --grid-main: repeat(var(--column-count), minmax(0, 1fr));
  --grid-gap-total: calc(var(--gap-fluid) * (var(--column-count) - 1));
  --column-width: calc(
    (100% - var(--grid-gap-total)) / var(--column-count) + var(--gap-fluid)
  );
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: var(--color-pale-blue);
    color: var(--color-black);
  }

  p {
    /* max-width: 65ch; */
    line-height: 110%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    text-wrap: balance;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 105%;
    letter-spacing: -0.02em;
  }

  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1440px) {
    .container {
      max-width: 1440px;
    }
  }
}

@layer utilities {
  .gap-x-fluid {
    column-gap: clamp(1rem, calc(-0.146rem + 4.167vw), 3.5rem);
  }

  .header-padding {
    padding-top: clamp(1rem, calc(0.771rem + 0.833vw), 1.5rem);
    padding-bottom: clamp(1rem, calc(0.771rem + 0.833vw), 1.5rem);
    padding-left: clamp(1rem, calc(-0.146rem + 4.167vw), 3.5rem);
    padding-right: clamp(1rem, calc(-0.146rem + 4.167vw), 3.5rem);
  }

  .section-padding {
    padding-top: clamp(1rem, calc(-0.54rem + 5.6vw), 4.5rem);
    padding-bottom: clamp(1rem, calc(-0.54rem + 5.6vw), 4.5rem);
    padding-left: clamp(1rem, calc(-0.146rem + 4.167vw), 3.5rem);
    padding-right: clamp(1rem, calc(-0.146rem + 4.167vw), 3.5rem);
  }

  .button-padding-x {
    padding-left: clamp(0.75rem, calc(0.578rem + 0.625vw), 1.125rem);
    padding-right: clamp(0.75rem, calc(0.578rem + 0.625vw), 1.125rem);
  }

  .button-padding-y {
    padding-top: clamp(0.75rem, calc(0.635rem + 0.417vw), 1rem);
    padding-bottom: clamp(0.75rem, calc(0.635rem + 0.417vw), 1rem);
  }
}
